<mat-card>
  <mat-spinner *ngIf="loading"></mat-spinner>

  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!loading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Título"
      />
      <mat-error *ngIf="form.get('title').invalid">Título inválido</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="fileInput.click()">
        Escolha uma imagem
      </button>
      <input type="file" #fileInput (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img
        [src]="imagePreview"
        [alt]="
          form.get('image').invalid
            ? 'Arquivo não suportado'
            : form.get('title').value
        "
      />
    </div>
    <mat-form-field>
      <textarea
        matInput
        cols="6"
        formControlName="content"
        placeholder="Conteúdo"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Conteúdo inválido</mat-error
      >
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Salvar post</button>
  </form>
</mat-card>
