<mat-card>
  <mat-spinner *ngIf="loading"></mat-spinner>

  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!loading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        #title="ngModel"
        placeholder="Título"
        required
      />
      <mat-error *ngIf="title.invalid">Título inválido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        cols="6"
        name="content"
        [ngModel]="post?.content"
        placeholder="Conteúdo"
        required
        minlength="3"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Conteúdo inválido</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Salvar post</button>
  </form>
</mat-card>
